body {
    background: rgba(0,0,0,.05);
}
#message_box {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: 0 0 0 280px;
    overflow-y: scroll;
    background: white;
}
#message_form {
    margin: 10px 0 0 280px;
}
#message_form input {
    font-size: 1.2em;
}
.message {
    display: block;
    padding: 4px;
    background: rgba(0,0,0,.05);
}
.nick {
    display: block;
    font-weight: bold;
}
.hash {
    margin-left: 8px;
    font-size: .8em;
    font-weight: normal;
}
.content {
}
.time {
    float: right;
    font-size: .8em;
}
#users_box {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    background: white;
}
#users_box .user {
    display: block;
}